#pointhistory {
    position: absolute;
    top: 37%;
    left: 37%;
    width: 500px;
    height: 300px;
    border: 2px solid rgb(204, 200, 200);
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px rgb(133, 132, 132);
    z-index: 1;
    text-align: center;
}
#codetxt {
    margin : 0 auto;
}

#modalcom {
    display: flex;
    justify-content: center;
}

#codeinput {
    margin: 8px 0 12px;
    width: 250px;
    height: 40px;
    border: 2px solid rgb(204, 200, 200);
    border-radius: 6px;
    background-color: white;
    box-shadow: 2px 2px rgb(133, 132, 132);
}
#recombutton {
    width: 110px;
    height: 40px;
    border: 2px solid rgb(204, 200, 200);
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px rgb(133, 132, 132);
    text-transform: uppercase;
    transition:all .2s ease;
    font-size: 15px;
}

#recombutton:hover, #recombutton:focus, #recombutton:active {
    background-color:#a5c8e9 ;
    color: #282a2b;

}
.modal-content{
    height: 30vh; overflow-y: auto; 
}

@font-face {
    font-family: 'CustomFont';
    src: url('../../assets/font/DungGeunMo.woff2') format('woff2'),
    url('../../assets/font/DungGeunMo.woff') format('woff')
    /* 다양한 포맷의 폰트 파일을 지정 */
  }
  
  body {
    font-family: 'CustomFont', sans-serif; /* 로컬 폰트 사용 */
  }