#sub-videos {
    flex: 1 0 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

#sub-video2 {
display: flex;
justify-content: center;
align-items: center;
}