.golobby {
    position: fixed;
    top: 20%;
    left: 30%;
    height: 60vh;
    width: 50vw;
    border: 13px solid rgb(236, 170, 103);
    background-color: white;
    z-index:1;
    border-radius: 20px;
}

.gametitle {
    text-align: center;
    /* margin-left: 20vw; */
    /* border: 2px solid black; */
    text-decoration: underline;
}

.cancelbtn {
    margin-top: 1vh;
    margin-left: 40vw;
    position: absolute;
    text-align: center;
    width: 60px;
    height: 30px;
    border: 2px solid black;
    font-size: 15px;
    /* border-radius: 5px; */
}

.canceltext {
    text-transform: uppercase;
    transition:all .4s ease;
}
.canceltext:hover, .canceltext:focus, .canceltext:active {
    background-color:#505253 ;
    color: #f1ecec;
}


.selectlobby {
    display: flex;
    margin-top: 3vh;
}

.Loobycreate {
    margin-left: 4vh;
    width: 20vw;
    height: 45vh;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
}

.Loobyselect {
    margin-left: 5vh;
    width: 20vw;
    height: 45vh;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
}

.roomtext {
    font-size: 30px;
    text-align: center;
    line-height: 40vh;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.9);
    color: #cfd1db;
    padding: 9px 32px;
    border: 3px solid rgb(97, 97, 97); 
    border-radius: 30px;
    text-transform: uppercase;
    transition:all .4s ease;
}



.roomtext:hover, .roomtext:focus, .roomtext:active {
    background-color:#a5c8e9 ;
    color: #141414;
}

