.maintitle {
    display: flex;
}

.mainnavber {
    width: 25vw;
    height: 87vh;
    border: 2px solid blueviolet;
}

.maingame {
    width: 70vw;
    height: 87vh;
    border: 2px solid rosybrown;
}