.maintitle {
    display: flex;
}

.mainnavber {
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 100vh;
    /* border: 2px solid blueviolet; */
    background-color: #C5A8FC;
}

.maingame {
    display: flex;
    justify-content: center;
    width: 75vw;
    height: 100vh;
    /* border: 2px solid rosybrown; */
}