.timers {
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255,);
    border-radius: 60px;
}


.mycount {
    top: 28vh;
    left: 60vw;
    position: absolute;
    width: 10vw;
    height: 10vh;
    border: 2px solid black;
    background-color: white;
}

.timer {
    top: 60vh;
    left: 60vw;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: white;
}

.timer-title {
    text-align: center;
    color: rgb(146, 145, 145);
    font-size: 13px;
    font-weight: 600;
}

.timer-count {
    font-size: 28px;
    color: rgb(249, 25, 25);
    text-shadow: 0px 2px 2px rgb(123, 122, 122);
    font-weight: 600;
    margin-right: 5px;
}

.timer-sec {
    font-size: 15px;
    color: rgb(249, 25, 25);
    font-weight: 600;
    text-shadow: 0px 1px 1px rgb(123, 122, 122);
}