@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.gamepage {
    background-color: #FEFCF5;
    height: 100%;
    width: 100%;
}
.game-header {
    height: 8vh;
}

.Logo1 {
    font-size:24px;
    color: #FD873E;
}

.Logo2 {
    font-size: 30px;
    color: #FD7F32;
    font-family: 'Righteous', cursive;
}


.game-mainscreen {
    background-color: white;
    /* border: 10px solid red; */
    width: 100vw;
    height: 87vh;
    border-radius: 20px;
}
.gamescreen {
    display:flex;
    /* width: 100vw; */
    height: 87vh;
    border: 5px solid rgb(109, 203, 101);
}

.gametitle {
    /* background-color: aquamarine;
    display:flex;
    justify-content: center; */
    text-align: center;
    /* height: 10vh; */
    /* line-height: 5vh; */
    /* margin: 0 auto; */
    border: 2px solid black;
}

#video-container {
    width: 100%;
    height: 87vh;
    border: 5px solid black;
}

.titlename {
    margin-top: 10px;
}

.messagebtntag{
    position: flex;
    /* top: 50%; */
    /* left:50%; */
    width: 19vw;
    height: 87vh;
    border: 5px solid black;
}

.messagebtn {
    /* margin-top: 45vh; */
    margin-top: 62vh;
    margin-left: 2vw;
    width:6vw;
    height: 6vw;
    border-radius: 3vw;
}

.ranking {
    width: 14vw;
    height: 50vh;
    border: 5px solid black;
}

.mainvideo {
    width: 81vw;
    height: 87vh;
    border :5px solid red;
}

.footer {
    height: 5vh;
}

.timer {
    position:relative;
    top: 75vh;
    left: 58vw;
    width: 150px;
    height: 150px;
    /* background-color: blue; */
}

  #main-video {
    /* display: flex; */
    margin-top: 3vh;
    margin-left: 1vw;
    width: 77%;
    /* height: auto; */
    /* height: 62%; */
    /* border: 20px solid salmon; */
    border-radius: 30px;
  }
  
  #sub-videos {
    margin-top: 3vh;
    width: 15vw;
    height: 80vh;
    border: 5px solid salmon;
    /* flex: 1 0 50%; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
  }
  
  #sub-video2 {
    width: 13vw;
    /* height: 20vh; */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  
  #session-header {
    margin-left: 60vw;
    margin-top: 14vh;
  }