
.lobbymain {
    /* display: flex; */
    height: 100%;
    width: 100%;
  }
  
  .lobbylogo {
    height: 5vh;
  }
  
  .lobbyheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    width: 90vw;
    border: 2px solid rgb(169, 133, 202);
    margin-top: 1vh;
    margin-bottom: 4vh;
    margin-left: 5vw;
  }
  
  .lobbybody {
    display: flex;
    align-items: center;
    height: 70vh;
    width: 90vw;
    border: 2px solid rgb(169, 133, 202);
    margin-left: 5vw;
  }
  
  .title1 {
    border: 1px solid saddlebrown;
    height: 10vh;
  }
  
  .waiting-list {
    margin-left: 3vw;
    margin-right: 5vw;
    width: 60vw;
    height: 50vh;
    border: 2px solid rgb(169, 133, 202);
  }
  
  .select-type {
    width: 20vw;
    height: 50vh;
    border: 2px solid rgb(169, 133, 202);
  }