.navbar-lobby {
  /* position: absolute; */
  width: 100%;
  height: 10%;
  background-color: #FEFCF5;
  z-index: -5;
}
.lobby-main{
  width: 100%;
  height: 90%;
  /*border: 10px solid red; */
}

.lobbymain {
  /* display: flex; */
  height: 100%;
  width: 100%;
}
.invite-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  flex-direction: column;
}
.invite-time-container > * {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
}
.custom-card-header {
  background-color: #e6e6fa; 
}

.lobbyheader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  width: 90vw;
  border: 2px solid rgb(169, 133, 202);
  margin-top: 1vh;
  margin-bottom: 4vh;
  margin-left: 5vw;
}

.lobby-body {
  background-color: #FFFBF6;
  height: 100vh;
}

.title1 {
  border: 1px solid saddlebrown;
  height: 10vh;
}

.waiting-list {
  margin-left: 3vw;
  margin-right: 5vw;
  width: 60vw;
  height: 50vh;
  border: 2px solid rgb(169, 133, 202);
}

.select-type {
  width: 20vw;
  height: 50vh;
  border: 2px solid rgb(169, 133, 202);
}

.title-row {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.title-box {
  /* background-color: #f3e8ff; 연한 보라색 배경색 설정 */
  padding: 10px;
  border-radius: 5px;
  font-family: "pixel-robo";
}
.gradient-text {
  background: linear-gradient(45deg, red, blue); /* 그라데이션의 색상과 방향을 설정합니다. */
  -webkit-background-clip: text;  /* 배경 클리핑: 텍스트 */
  background-clip: text;
  color: transparent;  /* 원래의 텍스트 색상을 투명하게 설정 */
}

.title-box h1 {
  color: #6f42c1; /* 글자색 설정 */
}

/* 전체 화면 크기가 일정 값 미만일 때, 1:1:1 레이아웃 */
@media (max-width: 768px) {
  .chat-col {
    order: 3;
  }
  .video-col {
    order: 1;
  }
  .game-col {
    order: 2;
  }
}


/* 채팅 입력창 스타일 */
.chat-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #f3e8ff;
}

/* 채팅 입력창 전송 버튼 스타일 */


/* 사용자 정보 스타일 */
.user-info {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: none;
}

.card-head {
  font-family: "pixel-robo";
}

.card-body {
  font-family: "dung-geun-mo";
  font-weight: 700;
  font-size: larger;
}